*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'
}

/*.owl-carousel .owl-stage-outer .owl-stage .owl-item img {
  width: 50%;
  height: 50%;
}*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.owl-item div img{
  width: 50% !important;
  height: 50%;
}

.owl-item div h2,
.owl-item div p{
  text-align: center;
}

.owl-item div h2{
  font-weight: 600;
}

.carousel-box{
  margin-top: 30%;
}

.div-text-button{
  margin-top: 10%;
}

.divText2{
  text-align: center;
}

.divText2 h2{
  font-weight: 600;
  font-size: 1.5em;
  padding: 0; !important
}

.h2-2{
  margin-top: -6%;
}

.img-phone{
  margin-top: 19px;
}
