*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'
}

/*.owl-carousel .owl-stage-outer .owl-stage .owl-item img {
  width: 50%;
  height: 50%;
}*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.owl-item div img{
  width: 50% !important;
  height: 50%;
}

.owl-item div h2,
.owl-item div p{
  text-align: center;
}

.owl-item div h2{
  font-weight: 600;
}

.carousel-box{
  margin-top: 30%;
}

.div-text-button{
  margin-top: 10%;
}

.divText2{
  text-align: center;
}

.divText2 h2{
  font-weight: 600;
  font-size: 1.5em;
  padding: 0; !important
}

.h2-2{
  margin-top: -6%;
}

.img-phone{
  margin-top: 15%;
}

.input-field button{
  margin-top: 30%;
}

.divImg3 img,
.divImg4 img{
  margin-top: 19%;
}
.divText3 h2,
.divText4 h2{
  color: #000;
  font-weight: 600;
  font-size: 22px;
}

.divText4 h2{
  margin-top: 3%;
}

.divText3 p,
.divText4 p{
  margin-top: -5%;
}

.divInput3 input,
.divInput3 i,
.divInput3 label{

  margin-top: 10%;
}

.divInput3 label{
  margin-left: 5%; !important
}

.divInput3 p{

  margin-left: 20%;
}

.divInput3 i{
  margin-left: 5%;
}

.divRowForm4 p{
  text-align: center;
}
